.form-container {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.form-title {
    font-size: 18pt;
    color: #008000;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}

.form-label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    /* padding-bottom: 5px; */
    color: #4c4c4c;
}

.form-sm-txt {
    color: #aaaaaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 5px;
}

.form-required-symbol {
    color: red;
}

.btn-form {
    background-color: #4c4c4c !important;
    font-size: 16px;
    padding: 10px 40px;
}

.btn-continue {
    border: 1px solid #4c4c4c;
    background-color: white !important;
    font-size: 16px;
    padding: 10px 40px;
}

.form-subtitle {
    color: #4c4c4c;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.datepicker {
    width: 50%;
    height: 40px;
    font-size: 16px;
}

.react-date-picker__wrapper {
    border: thin solid #ced4da !important;
}

.react-date-picker__inputGroup {
    padding: 0 5px !important;
}

.form-description {
    color: #808080;
}

.form-label-description {
    color: #aaaaaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

.rc-checkbox:hover .rc-checkbox-inner, .rc-checkbox-input:focus+.rc-checkbox-inner {
    border-color: #008000;
}

.rc-checkbox-checked:hover .rc-checkbox-inner {
    border-color: #008000;
}

.rc-checkbox-checked .rc-checkbox-inner {
    border-color: #008000;
    background-color: #008000;
}

.rc-checkbox-checked .rc-checkbox-inner {
    border-color: #008000;
    background-color: #008000;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
}